<!DOCTYPE html>
<html lang="en">
{% include 'page-head.html' %}
<body>
<div class="container">
    <h1>SOSRest API</h1>

    <p>Dit is de SOS REST API Emulator voor SmartEmission.<br/>
        Deze serveert de laatste sensor-metingen uit de Raw Sensor API via een
        geëmuleerde <a href="http://sensorweb.demo.52north.org/sensorwebclient-webapp-stable/api-doc/index.html">52N SOS REST API</a>. </p>
    <h2>Specificatie URLs</h2>
    <p>
        Twee services zijn aktief, deze geven JSON-responses terug:
    </p>
    <ul>
        <li>Stations: <a href="{{ url_for('stations') }}">{{ url_for('stations') }} </a></li>
        <li>Laatste metingen per station (bijv station 23): <a
                href="{{ url_for('timeseries') }}?station=23&expanded=true">{{ url_for('timeseries') }}?station=23&expanded=true</a>
        </li>
    </ul>
    <h2>HTML Rendering</h2>
    <p>
        Deze API kan ook met HTML responses ipv JSON bevraagd worden, via de optionele <code>format=html</code>
        query parameter. Hieronder de voorbeelden van hierboven als HTML.
    </p>
    <ul>
        <li>Stations: <a href="{{ url_for('stations') }}?format=html">{{ url_for('stations') }}?format=html</a></li>
        <li>Laatste metingen per station (bijv station 23): <a
                href="{{ url_for('timeseries') }}?station=23&format=html">{{ url_for('timeseries') }}?station=23&format=html</a>
        </li>
    </ul>
    <h2>Web Applicatie</h2>
    <p>
        Deze web applicatie is geschreven in Python met het lichtgewicht <a href="http://flask.pocoo.org/">Flask web-framework</a>. Zie ook de
        <a href="https://github.com/Geonovum/smartemission/tree/master/services/sosemu/app">webapp code in GitHub</a>.
    </p>

    <h2>JSONP Support</h2>
    <p>
        JSONP support is via the <strong>callback</strong> parameter, for example:
        <a href="/sosemu/api/v1/stations?callback=mycallback">http://data.smartemission.nl/sosemu/api/v1/stations?callback=mycallback</a>
    </p>

    <h2>Voorbeeld</h2>
    <p>
        Hier voorbeelden van web clients:
    </p>
    <ul>
    <li>
        <a href="http://rawgit.com/Geonovum/smartemission/master/docs/specs/sosrest-api/examples/leaflet.html">Leaflet Voorbeeld (gebruikt JSONP)</a>
        en de <a href="https://github.com/Geonovum/smartemission/tree/master/docs/specs/sosrest-api/examples/leaflet.html">code uit GitHub</a>
    </li>
</ul>



</div>

</body>
</html>
