<head>
    <title>Smart Emission SOS REST API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/3.3.5/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery/1.11.3/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/3.3.5/bootstrap.min.js') }}"></script>
</head>
