/*body {*/
    /*font-family: sans-serif;*/
    /*background: #eee;*/
/*}*/

/*h1, h2 {*/
    /*color: #377BA8;*/
/*}*/

/*a {*/
    /*color: #0000dd;*/
/*}*/

.warn {
    color: #CC0000;
    font-weight: bold
}

.site-logo img {

    height: 50px;
}


/*h2 {*/
    /*font-size: 1.2em;*/
/*}*/

